.userNomsContainer {
  margin: 50px 0;
}

.userNomsContainer > p {
  padding: 10px 0 20px 0;
}

.userNoms li {
  border: none;
  background-color: var(--color-green);
  color: white;
}

.userNoms li button {
  background-color: white;
  font-weight: 500;
  color: var(--color-green);
  padding: 3px 8px;
}

.confirmBtn {
  width: 100%;
  margin-top: 20px;
  display: block;
} 

.nomsList {
  min-height: 57vh;
  padding-bottom: 50px;
}

p.nomsListYear {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .confirmBtn {
    width: 40%;
    margin: 10px auto 0 auto;
  }
}